# output/bin directories
bin/*
bin-int/*
build/*
out/*


#!bin/premake
utilities/log_history/*


# Visual Studio
.vs/
*.user
*.sln
*.vcxproj
*.filters


# Powershell
*.ps1

# Build system files
*.make
Makefile

# cmake
cmake-*

# CLion
.idea
